<h1 class="text-2xl font-bold text-gray-900 mb-6"><%= t("customers.index.title") %></h1>

<div class="bg-white rounded-lg shadow overflow-hidden">
  <table class="w-full text-sm">
    <thead class="bg-gray-50">
      <tr class="border-b text-left text-gray-500">
        <th class="py-3 px-4"><%= t("shared.customer") %></th>
        <th class="py-3 px-4"><%= t("shared.external_id") %></th>
        <th class="py-3 px-4 text-right"><%= t("shared.subscription") %></th>
        <th class="py-3 px-4 text-right"><%= t("shared.revenue") %></th>
        <th class="py-3 px-4 text-right"><%= t("shared.cost") %></th>
        <th class="py-3 px-4 text-right"><%= t("shared.margin") %></th>
        <th class="py-3 px-4 text-right"><%= t("shared.margin_percent") %></th>
      </tr>
    </thead>
    <tbody>
      <% @customer_margins.each do |cm| %>
        <tr class="border-b hover:bg-gray-50 <%= margin_bg_class(cm[:margin].margin_in_cents) %>">
          <td class="py-3 px-4 font-medium">
            <%= link_to cm[:customer_name] || cm[:customer_external_id], customer_path(cm[:customer_id]), class: "text-blue-600 hover:underline" %>
          </td>
          <td class="py-3 px-4 text-gray-500"><%= cm[:customer_external_id] %></td>
          <td class="py-3 px-4 text-right"><%= format_cents(cm[:margin].subscription_revenue_in_cents) %></td>
          <td class="py-3 px-4 text-right"><%= format_cents(cm[:margin].revenue_in_cents) %></td>
          <td class="py-3 px-4 text-right"><%= format_cents(cm[:margin].cost_in_cents) %></td>
          <td class="py-3 px-4 text-right font-medium <%= margin_color_class(cm[:margin].margin_in_cents) %>"><%= format_cents(cm[:margin].margin_in_cents) %></td>
          <td class="py-3 px-4 text-right font-medium <%= margin_color_class(cm[:margin].margin_in_cents) %>"><%= format_bps(cm[:margin].margin_bps) %></td>
        </tr>
      <% end %>
      <% if @customer_margins.empty? %>
        <tr>
          <td colspan="7" class="py-8 text-center text-gray-400"><%= t("customers.index.no_data") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
